/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Docker on local galaxy machiene in DZNE Tuebingen
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 */

singularity {
  enabled = true
}

params {
  max_memory = 120.GB
  max_cpus = 20
}
